@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply antialiased min-w-full w-full min-h-screen scrollbar-hide bg-gray-50;
  }

  p,
  span {
    @apply text-xs;
  }
}

@layer components {
  .slider-item {
    @apply relative h-52 md:h-56 flex justify-center items-center;
  }
  .slider-image {
    @apply w-full h-[70%] relative mx-auto rounded-xl;
  }
  .slider-image img {
    @apply w-full h-full object-cover rounded-md;
  }
  .title-section {
    @apply text-sm font-semibold border-l-4 pl-2.5 border-baseColor-500;
  }
  .description {
    @apply -mt-3 prose-p:leading-5 leading-5 text-justify prose prose-sm text-xs prose-headings:font-extrabold;
  }
}

@layer utilities {
  .wrapper {
    @apply w-full md:max-w-md mx-auto min-h-screen border shadow-md bg-white;
  }
  .slider-swiper {
    width: 80% !important;
  }
  .programterbaru-swiper {
    width: 70% !important;
  }
  .icon_white {
    filter: brightness(0) invert(1);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
